// =======================
// ** Updated: 17.01.14 **
// Miscellaneous
// =======================

// #old browser notification
#browser-status {
    background-color: #dc3228;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    font: normal 16px/100% Arial, san-serif;
    z-index: 9999;
      a { 
        color: #fff; 
        font-weight: normal; 
        text-decoration: none; 
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 10px;
        display: inline-block;
        margin-left: 10px;
      }
}

// #text
.text-ul { text-decoration: underline; }

.txt-uc,
.text-uc { text-transform: uppercase; }


// #default transition: @extend .default-transition;
.default-transition {
  @include single-transition(all, $trnsDef, ease); }

// padding transition
.padding-transition {
    @include single-transition(padding, .10s, ease);
    }

// default Box-shadow: @extend .default-boxshaodw;
.default-boxshaodw {
    @include box-shadow(rgba(0,0,0,.8) 0 0 6px);  
}

// #transparent
.transparent {
    background: transparent;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

// #opacity
.opaque    { @include opaque; }
.opacity-0 { @include opacity(0); }

// #clearfix
.cf {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// #clear
.clear    { 
    visibility: hidden; 
    display: block !important; 
    font-size: 0; 
    content: " "; 
    clear: both; 
    height: 0; 
}

// positions 
.pos-abs { position: absolute !important; }
.pos-rlv { position: relative !important; }
.pos-fxd { position: fixed !important; }


// #center block elements
.ctr-block {
  float: none !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.fit-els {
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  & > * {
    display: table-cell;
    text-align: center;
    float: none;
    @include border-radius (0);
  }
}