// =======================
// ** Updated: 17.01.14 **
// Effect - Animations
// =======================

// #spin
.spin {
	@include single-transition(all, 0.6s, ease-out);

  &:hover, 
  a:hover &,
  li:hover &,
  button:hover & {
    @include rotate(180deg);
  }
}