// ** Updated: 05.02.14 **

.layout {
    &.main-sidebar {
        .main    { float: left;  }
        .sidebar { float: right; }
    }

    &.sidebar-main {
        .main    { float: right; }
        .sidebar { float: left;  }
    }

    &.sidebar-main-sidebar {
        .sidebar { float: left; }
        .main    { 
            float: left; 
            & + .sidebar { float: left; }
        }
    }
}