// =======================
// ## Miscellaneous 
// ** Updated: 04.02.14 **

// #old browser notification
#browser-status {
    background-color: #dc3228;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    font: normal 16px/100% Arial, san-serif;
    z-index: 9999;
      a { 
        color: #fff; 
        font-weight: normal; 
        text-decoration: none; 
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 10px;
        display: inline-block;
        margin-left: 10px;
      }
}

input::-moz-focus-inner {
    border: 0;
}
*:focus {
    outline: 0;
}
a img {
    border: 0;
}
a:active, a:focus {
    outline:none;
}
@media \0screen {
    img {
        width: auto;
    }
}
body, 
input:focus,
textarea:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
::-moz-selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}